<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>g-store</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateLogin</servlet-name>
    <servlet-class>Login.ValidateLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLogin</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateRegistration</servlet-name>
    <servlet-class>Login.ValidateRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateRegistration</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>lib.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <security-role>
    <description>Administrator</description>
    <role-name>administrator</role-name>
  </security-role>
  <security-role>
    <description>Customer</description>
    <role-name>customer</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Login</web-resource-name>
      <url-pattern>/login</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login</form-login-page>
      <form-error-page>/login</form-error-page>
    </form-login-config>
  </login-config>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>ajax.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajax-handler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>Checkout.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/checkout/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentProcessServlet</servlet-name>
    <servlet-class>Checkout.PaymentProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentProcessServlet</servlet-name>
    <url-pattern>/checkout/payment-process</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OrderSummary</servlet-name>
    <servlet-class>lib.OrderSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSummary</servlet-name>
    <url-pattern>/order-summary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteTransactionServlet</servlet-name>
    <servlet-class>Checkout.CompleteTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteTransactionServlet</servlet-name>
    <url-pattern>/checkout/complete</url-pattern>
  </servlet-mapping>
    
  
  
</web-app>